$base: 10px;
$baseZ: 10;

.thread {
  padding: $spacing 0;
  position: relative;

  &--lowRating {
    @include lowRating;
  }
  &--highRating {
    @include highRating;
  }

  & + & {
    margin-top: 16px;
  }

  &--collapsed {
    .message {
      &:first-child {
        z-index: 100;
        position: relative;
      }
      &:not(:first-child) {
        width: calc(100% - (2 * #{$spacing}));
        height: calc(100% - (4 * #{$spacing}));
        margin: 0;
        position: absolute;
        top: $spacing;

        @for $var from 2 to 6 {
          $zIndex: 99;
          $baseZ: $baseZ - 10;
          $base: $base + 10;
          &:nth-child(#{$var}) {
            left: $base - 10px;
            top: $base + 15px;
            z-index: $zIndex + $baseZ;
          }
        }
      }
    }
  }

  &--expanded {
    .thread-count {
      display: none;
    }
  }
}

.thread-count {
  display: flex;
  align-items: center;
  height: 16px;
  padding: 0 18px;
  border-radius: 15px;
  position: absolute;
  top: $spacing;
  right: $spacing;
  z-index: 150;
  transform: translateY(-50%);
  font-size: 11px;
  text-align: center;
  color: #fff;
}
