.message {
  display: flex;
  padding: $spacing $spacing;
  border-radius: 13px;
  background-color: #ffffff;
  @include messageBoxShadow;

  &--lowRating {
    @include lowRating;
  }
  &--highRating {
    @include highRating;
  }

  & + & {
    margin-top: 16px;
  }
}

.message-info {
  width: 75%;
}
.message-meta {
  width: 140px;
  margin-left: auto;
  text-align: right;
}

.message-subject {
  font-size: 14px;
}

.message-description,
.date {
  font-size: 12px;
}

.message-text,
.team {
  font-size: 13px;
}

.date,
.team {
  display: block;
}

.message-text {
  margin-top: 10px;
}
