$defaultBg: #f2f2f2;
$defaultText: #999999;
$defaultFontFamily: "Comfortaa", cursive;

$colorHighRating: #9335ff;
$colorLowRating: #e89d40;

$msgLabelLowRating: $colorLowRating;
$msgLabelHighRating: #27aae1;
