@import "vars";
@import "generic.normalize";
@import "generic.reset";
@import "generic.box-sizing";
@import "tools.mixins";
@import "page.threads";
@import "component.thread";
@import "component.message";

html,
body {
  min-width: 320px;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: $defaultBg;
  color: $defaultText;
  font-family: $defaultFontFamily;
  line-height: 1.45;
}
